/* Utilities */

* {
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

/* Definining template size */

header,
main,
footer {
  margin: 0 auto;
  width: 65vw;
}

h1,
h2,
.navmenu li {
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  padding-bottom: 10%;
}

p,
.copyright {
  font-family: 'Roboto', sans-serif ;
}

h2,
p {
  padding: 20px;
}

.post p,
.widget p {
  line-height: 1.5em;
}

body {
  background-image: url('../img/background-pagina.png');
  background-position: center;
}

/* Header styling */

header {
  margin-top: 1%;
}

header h1{
  font-size: 1.5em;
}

#hero {
  border: 10px solid #FFF;
  text-align: center;
  height: 50vh;
  min-height: 400px;
  background-image: url('../img/background-banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.logo {
  width: 50%;
  margin-top: 5%;
}

.navmenu {
  background: #555;
  text-align: center;
  line-height: 6vh;
}

.navmenu ul li {
  display: inline-block;
  list-style: none;
}

.navmenu a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  color: #FFF;
  padding: 14px 16px;
}

.navmenu a:hover {
  color: #555;
  background-color: #FFF;
}

/* If hover border FX is on , can't center the menu !!! Also restore clearfix on navmenu call

.navmenu a {
  display: block;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  color: #FFF;
  padding: 14px 16px;
  border-bottom: 3px solid transparent;
}

.navmenu ul li a:hover {
    border-bottom: 3px solid #FFF;
}*/

/* columns styling */

.column {
  float: left;
  padding-top: 5vh;
}

.center{
  width: 60%;
  padding-left: 5vh;
  padding-right: 5vh;
}

.side {
  width: 20%;
}

/* left column content */

.rss-feed {
  background: #fff;
}

.rss-feed-icon {
  float: left;
  display: inline-block;
  margin: 10px;
}

.rss-feed i {
  font-size: 35px;
  color: #f26522;
}

.rss-feed h2,
.rss-feed i {
    padding: 5%;
}

.rss-feed ul {
  list-style: none;
  padding-inline-start: 5px;
}

.rss-feed li {
  padding: 5px 0;
}

.rss-feed a {
  text-decoration: none;
  color: #32a852;
}

/* center column content */

.post {
  background: #FFF;
}

.post h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px #CCC;
}

/* right column content */

.widget {
  background-color: #FFF;
}

.widget:not(:last-child) {
  margin-bottom: 5vh;
}

/* footer styling */

footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.contacts {
  text-align: center;
  color: #CCC;
  background: #FFF;
}

.copyright {
  padding-top: 5px;
  border-bottom: 1px solid #CCC;
}

.social li {
  display: inline-block;
  float: left;
  width: calc(100%/3);
  list-style: none;
  margin: 25px 0px;
}

.social a {
  color: #CCC;
  text-decoration: none;
  font-size: 35px;
}

/* Border Styles */

.rss-feed,
.rss-feed-icon,
.post,
.widget,
.contacts {
  border-radius: 5px;
}
