/* Utilities */

* {
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

/* Definining template size */

header, main, footer {
  margin: 0 auto;
  width: 85vw;
}

/* Header styling */

#hero {
  height: 50vh;
  background: #4287f5;
  border: 10px solid #000;
}

.navmenu {
  height: 8vh;
  background: #555;
}

.navmenu ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
}

/* columns styling */

.column {
  float: left;
  padding-top: 5vh;
}

.center{
  width: 60%;
  padding-left: 5vh;
  padding-right: 5vh;
}

.side {
  width: 20%;
}

/* left column content */

.rss-feed {
  background: #f5d442;
  height: 60vh;
}

/* center column content */

.post {
  background: #8af542;
  height: 50vh;
}

/* right column content */

.widget {
  height: 50vh;
  margin-bottom: 5vh;
}

/* alternating colors */

.widget:nth-of-type(2n+1) {
  background-color: #CCC;
}

.widget:nth-of-type(2n+2) {
  background-color: #000;
}

/* footer styling */

footer {
  padding-top: 5vh;
}

.contacts {
  height: 20vh;
  background: #f54284;
}

.contacts ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
}
